.main {
  margin: 90px 382px 0 382px;
  padding: 32px 15px;
}

/* Breadcrumb */

.breadcrumb {
  font-size: 16px;
}
.separator {
  margin: 0 5px;
}

.breadcrumb a {
  text-decoration: none;
}
.breadcrumb a:hover {
  text-decoration: underline;
}

/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 48px 0 16px 0;
}
.headerContent {
  display: flex;
  flex-direction: column;

  flex: 1;
}
.headlineFirstLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.headline,
.price {
  font-size: 24px;
  font-weight: bold;
  /* padding-top: 15px; */
}

.subHeadline {
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-weight: none;
  line-height: 1.2;
}

/* Media Section */
.media {
  display: flex;
}

.slider,
.mapContainer {
  flex: 1;
  height: 370px;
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Map Styles */
.mapContainer {
  position: relative;
}

.map {
  width: 100%;
  height: 100%;
  border: 0;
}
/* Key details stykles */
.detailsGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  margin-top: 30px;
  text-align: left;
}

.detailItem {
  display: flex;
  flex-direction: column;
}

.detailValue {
  font-weight: 700;
  font-size: 16px;
}

.detailLabel {
  font-size: 16px;
}

/* Listings description styles */
.description {
  line-height: 28px;
}

/* Amenities styles */
.detailsAmenities {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
  padding: 16px 0;
}

.amenitiesItem {
  display: flex;
  align-items: left;
  justify-content: left;
}

.amenitiesLabel {
  font-size: 16px;
  text-align: center;
}

/* Contact and Sign up form styles  */
.contactInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.signUp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .paragraph {
    font-size: 16px;
  }

  .inputFields {
    display: flex;
    gap: 15px;
    input[type="text"],
    input[type="email"] {
      flex: 1;
      padding: 8px 16px;
      display: flex;
      flex-direction: row;
      font-size: 16px;
      width: 50%;
      margin: 0 0 24px 0;

      border: 1px solid #d8d8d8;
    }
  }

  // Sign up button
  button {
    color: white;
    background-color: #cfaf63;
    padding: 8px 24px;
    border: none;
    width: 50%;
    cursor: pointer;
    font-size: 16px;
    font-weight: 800;
  }
}

@media only screen and (max-width: 768px) {
  .main {
    margin: 60px 20px;
    padding: 24px 10px;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .headerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .breadcrumb {
    margin-top: 50px;
    order: 1;
  }
  .headlineFirstLine {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    order: 2;
  }
  .headline {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .subHeadline {
    font-size: 16px;
    text-align: center;
    font-weight: none;
    order: 3;
    margin-bottom: 10px;
  }

  .price {
    order: 4;
    font-size: 20px;
    font-weight: 800;
    position: relative;
    text-align: center;
    margin-top: 10px;

    &::after {
      content: "";
      display: block;
      width: 70%;
      height: 2px;
      background-color: #d8d8d8;
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .media {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height: 100%;
  }

  .slider,
  .mapContainer {
    width: 100%;
    height: auto;
  }

  .detailsGrid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
  }

  .detailItem {
    flex: 1 1 45%;
  }

  .description {
    line-height: 24px;
    text-align: justify;
  }

  .detailsAmenities {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px 0;
  }

  .amenitiesItem {
    flex: 1 1 25%;
    box-sizing: border-box;
  }

  .contactInfo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .inputFields input {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .signUp button {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 1280px) {
  .main {
    margin: 3.75rem 1.25rem;
    padding: 1.5rem 0.6rem;
  }

  .breadcrumb {
    margin-top: 3.1rem;
  }

  .header {
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
  }

  .headlineFirstLine {
    flex-direction: column;
  }

  .headline,
  .price {
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .subHeadline {
    font-size: 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .media {
    flex-direction: row;
  }

  .slider,
  .mapContainer {
    width: 100%;
    height: 300px;
  }

  .detailsGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .detailItem {
    flex: 1 1 48%;
  }

  .description {
    line-height: 24px;
  }

  .detailsAmenities {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 1rem 0;
  }

  .amenitiesItem {
    flex: 1 1 25%;
  }

  .contactInfo {
    flex-direction: column;
  }

  .signUp .inputFields {
    flex-direction: column;
  }

  .signUp input[type="text"],
  .signUp input[type="email"] {
    width: 100%;
    margin-bottom: 1rem;
  }

  .signUp button {
    width: 50%;
  }
}
