@use "base";

html,
body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  color: base.$gray;
  border: 1px solid red;
}
//Responsive styles
