@use "@/app/base";
.button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 800;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  height: 65px;
  width: 500px;
}

.primary {
  background-color: base.$primary;
  color: white;
  border: none;
}

.secondary {
  background-color: base.$secondary;
  color: white;
  border: none;
}
