@use "@/app/base";
.footer {
  background-color: base.$primary;
  min-width: 100%;
  max-height: 100px;
  text-align: center;
  padding: 20px 25px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 30px 0 0 0;
  box-sizing: border-box;
  position: relative;
}

.container {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 0;
}
.leftFooter,
.middleFooter,
.rightFooter {
  flex: 1;
  min-width: 200px;
  max-height: 90px;
}
.leftFooter {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 15px;
  justify-content: flex-start;
}

.faInstagram,
.faFacebook {
  fill: white;
  width: 24px;
  height: 24px;
  margin: 0;
}

.zillowLogo {
  max-width: 85px;
  height: 18px;
  margin: 5px;
}

.middleFooter {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.firstFooterRow {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.secondFooterRow,
.thirdFooterRow {
  margin: 5px 0;
  font-size: 9px;
  color: white;
}

.rightFooter {
  display: flex;
  align-items: right;
  justify-content: end;
  flex-direction: row;
}
.introduction {
  display: flex;
  margin-right: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  color: white;
  font-size: 9px;
}
.footerLogo {
  display: block;
}

@media only screen and (max-width: 768px) {
  .footer {
    max-height: 40vh;
    flex-direction: column;
    padding: 20px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .leftFooter,
  .middleFooter,
  .rightFooter {
    min-width: 100%;
    max-height: none;
  }

  .leftFooter {
    align-items: center;
    justify-content: center;
  }

  .middleFooter {
    text-align: center;
  }

  .rightFooter {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .faInstagram,
  .faFacebook {
    width: 20px;
    height: 20px;
  }

  .zillowLogo {
    max-width: 50px;
  }

  .introduction {
    font-size: 7px;
    margin-bottom: 5px;
  }

  .footerLogo {
    display: none; //ne znam sto mi ga ne ukloni
  }
}
