@use "@/app/base";

.mainContainer {
  background-color: white;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tabNavigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tabButton {
  background-color: #f2f2f2;
  border: none;
  color: base.$gray;
  flex: 1;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  width: 100%;
  color: base.$primary;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #e0e0e0;
  }

  &.active {
    background-color: white;
    color: base.$gray;
  }
}

.headline {
  margin: 0;
  padding: 0;
  font-size: 20px;

  &:hover {
    color: #3e5a6b;
  }
}

.properties {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
  min-width: 1120px;

  margin: 0;
  text-align: left;
}

.property {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1130px;
  min-width: 1130px;
  padding: 32px 0;
  justify-content: center;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.properties .property:nth-child(1) {
  animation-delay: 0.5s;
}

.propertyDetails {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 15px;
}
.hr {
  width: 50%;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc;
  text-align: left;
}

.paragraphPrice {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  cursor: pointer;
  &:hover {
    color: #3e5a6b;
  }
}

.paragraph {
  margin: 0;
  line-height: 28px;
}

/* Media Query for screens up to 1024px */
@media only screen and (max-width: 1024px) {
  .tabButton {
    font-size: 16px;
    padding: 0.9rem;
  }

  .headline {
    font-size: 15px;
  }

  .property {
    padding: 1.5rem 0;
    flex-direction: column;
    text-align: center;
  }

  .propertyDetails {
    width: 80%;
    padding: 0 0 0 1.25rem;
  }

  .hr {
    width: 50%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
  }

  .paragraphPrice {
    font-size: 15px;
    margin-top: 0.6rem;
  }

  .paragraph {
    font-size: 14px;
  }
}

/* Media Query for screens up to 768px */
@media only screen and (max-width: 768px) {
  .tabButton {
    font-size: 14px;
    padding: 0.6rem;
  }

  .headline {
    font-size: 14px;
  }

  .property {
    padding: 1rem 0;
    flex-direction: column;
    text-align: center;
  }
  .propertyDetails {
    width: 100%;
    padding: 0;
    margin-top: 0.6rem;
  }

  .hr {
    width: 50%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
  }

  .paragraphPrice {
    font-size: 14px;
  }

  .paragraph {
    font-size: 10px;
  }
}
