@use "@/app/base";

.mainContainer {
  background-color: white;
  padding: 0px;
  margin: 0 auto;
  width: 100%;
}

.tabNavigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tabButton {
  background-color: #f2f2f2;
  border: none;
  flex: 1;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  width: 100%;
  color: base.$primary;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #e0e0e0;
  }

  &.active {
    background-color: white;
    color: #333;
    font-weight: bold;
  }
}

.headline {
  margin: 0;
  padding: 0;
  font-size: 20px;
  a {
    text-decoration: none;
  } //ne znam zasto mi ne ukloni underline ispod naslova
}

.properties {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.property {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px 0;
  justify-content: center;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.properties .property:nth-child(1) {
  animation-delay: 0.5s;
}

.gallery {
  width: 530px;
  height: 330px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.galleryImage {
  /*   width: 530px;
  height: 330px; */
  object-fit: cover;
  position: absolute;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateX(100%);
  opacity: 0;

  &.active {
    transform: translateX(0);
    opacity: 1;
  }

  &.prev {
    transform: translateX(-100%);
    opacity: 0;
  }

  &.next {
    transform: translateX(100%);
    opacity: 0;
  }
}
.propertyDetails {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 30px;
}
.hr {
  width: 50%;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc;
  text-align: left;
}

.paragraphPrice {
  font-size: 20px;

  margin: 0;
}
.paragraph {
  font-size: 16px;
  margin: 0;
  line-height: 28px;
}

/* Media Query for screens up to 1024px */
@media only screen and (max-width: 1024px) {
  .tabButton {
    font-size: 16px;
    padding: 15px;
  }

  .headline {
    font-size: 15px;
  }

  .property {
    padding: 24px 0;
    flex-direction: column;
    text-align: center;
  }

  .gallery {
    max-width: 100%;
    height: auto;
  }

  .galleryImage {
    width: 100%;
    height: auto;
  }

  .propertyDetails {
    width: 80%;
    padding: 0 0 0 20px;
  }

  .hr {
    width: 50%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
  }

  .paragraphPrice {
    font-size: 15px;
    margin-top: 10px;
  }

  .paragraph {
    font-size: 14px;
  }
}

/* Media Query for screens up to 768px */
@media only screen and (max-width: 768px) {
  .tabButton {
    font-size: 14px;
    padding: 10px;
  }

  .headline {
    font-size: 14px;
  }

  .property {
    padding: 16px 0;
    flex-direction: column;
    text-align: center;
  }

  .gallery {
    max-width: 100%;
    height: auto;
  }

  .galleryImage {
    width: 50%;
    height: auto;
  }

  .propertyDetails {
    width: 100%;
    padding: 0;
    margin-top: 10px;
  }

  .hr {
    width: 50%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
  }

  .paragraphPrice {
    font-size: 14px;
  }

  .paragraph {
    font-size: 10px;
  }
}
