@use "@/app/base";

.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  height: 66vh;
  font-size: 20px;
}

.heroText {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  font-size: base.$fontSizeBase;
}

.instaLinks {
  justify-self: center;
  grid-column: 2;
  grid-row: 2;
}

.instaButton {
  grid-column: 2;
  grid-row: 3;
  align-self: center;
  justify-self: center;
}

.buttonIg {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-size: 20px;
  color: white;
  background-color: base.$primary;
  width: 290px;
  height: 50px;
}

.faInstagram {
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  color: white !important;
  width: 20px;
  height: 20px;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .heroText {
    display: flex;
    justify-content: center;
    font-size: 10px !important;
    padding: 15px 0;
  }

  .instaLinks {
    font-size: 9px;
    display: flex;
    justify-content: center;
    height: 360px;
  }

  .buttonIg {
    margin: 0;
    padding: 12px;
    margin: 20px;
    width: max-content;
    background-color: base.$primary;
    color: white;
    font-size: 12px;
    font-weight: 600;
  }
}
