@use "@/app/base";

.mainContainer {
  margin: 90px 382px 0 382px;
  padding: 32px 15px;
  line-height: 28px;
  color: base.$primary;
  @media only screen and (max-width: 768px) {
    margin: 90px 20px 0 20px;
  }

  @media only screen and (max-width: 480px) {
    margin: 90px 10px 0 10px;
  }
  @media only screen and (max-width: 1280px) {
    margin: 90px 50px 0 50px;
  }
}

.about,
.ourAgents {
  margin-bottom: 20px;
  /*   padding: 0 20px 20px 20px; */
}

.headlineMain {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 48px;
  text-transform: uppercase;
  color: #3e5a6b;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.agent {
  padding: 16px 0 20px;
  animation: slideIn 1s ease-out;
  opacity: 0;
  animation-fill-mode: forwards;

  @media only screen and (max-width: 768px) {
    padding: 16px 10px;
  }

  @media only screen and (max-width: 480px) {
    padding: 16px 5px;
  }
}

.headline {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  margin-top: 10px;
  text-transform: uppercase;
  color: #3e5a6b;
}

.paragraphAbout {
  /*   margin: 20px 0 0 0; */
}

.namesHeadline {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.namesHeadline:hover {
  color: #3e5a6b;
}

.paragraphPosition {
  padding: 0;
  margin: 5px 0 15px 0;
}

.paragraph {
  margin: 0;
  padding: 0;
  line-height: 28px;
  cursor: auto;
  a {
    text-decoration: none;
  }
}

.moreInfo {
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.moreInfo:hover {
  color: #3e5a6b;
}

@media only screen and (max-width: 768px) {
  .agent {
    .namesHeadline,
    .paragraphPosition {
      text-align: left;
    }

    .paragraph {
      margin: 0;
      padding: 0;
      text-align: left;
    }
  }
}

@media only screen and (max-width: 480px) {
  .agent {
    .namesHeadline,
    .paragraphPosition {
      text-align: center;
    }

    .paragraph {
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }
}
@media only screen and (max-width: 1280px) {
  .agent {
    .namesHeadline,
    .paragraphPosition {
      text-align: left;
    }

    .paragraph {
      margin: 0;
      padding: 0;
      text-align: left;
    }
  }
}
