@use "@/app/base";

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 20px 40px;
  width: 100%;
  color: base.$gray;
  transform: translateY(20px);
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mainHeadline {
  font-size: 20px;
  color: base.$primary;
  text-transform: uppercase;
  margin-bottom: 25px;
  text-align: center;
  width: 100%;
  a {
    text-decoration: none;
  }
}

.contentRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.image {
  width: 45%;
  height: auto;
  display: flex;
  justify-content: center;
}

.image img {
  max-width: 100%;
  height: auto;
}

.blogPost {
  width: 55%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  font-size: 15px;
}

.blogPostDate {
  color: base.$gray;
  font-size: 16px;
  padding: 10px 0;
  margin: 0;
}

.blogPostHeadline {
  font-size: 16px;
  margin: 0;
  color: base.$gray;
  font-weight: bold;
  a {
    text-decoration: none;
  }
}

.paragraph {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.paragraphChild {
  flex: 1;
  font-size: 16px;
  line-height: 1.8;
  padding: 0;
  color: base.$gray;
  text-align: justify;
  margin: 0;
  a {
    text-decoration: none;
  }
}

.readMore {
  margin: 0;
  padding: 0;
  color: base.$gray;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  display: inline;
}

@media (max-width: 1280px) {
  .contentRow {
    flex-direction: column;
  }

  .image {
    width: 100%;
  }

  .image {
    margin-bottom: 20px;
  }

  .blogPost {
    width: 60%;
    padding-left: 0;
    margin-top: 20px;
    text-align: left;
  }
}
@media (max-width: 768px) {
  .contentRow {
    flex-direction: column;
  }

  .image {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .blogPost {
    width: 75%;
    padding-left: 0;
    margin-top: 20px;
    text-align: left;
  }
}
@media (max-width: 480px) {
  .mainContainer {
    padding: 80px 10px 20px;
  }

  .mainHeadline {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .contentRow {
    margin: 15px 0;
  }

  .image {
    width: 100%;
  }

  .blogPost {
    width: 100%;
    padding-left: 0;
    font-size: 14px;
  }

  .blogPostDate {
    font-size: 14px;
  }

  .blogPostHeadline {
    font-size: 14px;
  }

  .paragraph {
    flex-direction: column;
  }

  .paragraphChild {
    font-size: 14px;
  }

  .readMore {
    font-size: 14px;
  }
}
