@use "@/app/base";

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px 0 0 0;
  padding: 32px 15px;
  width: 100%;
  min-height: 85vh;
  color: base.$gray;

  .breadcrumb {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    height: auto;
    width: 100%;
    padding: 0 20px;
    text-align: left;
    a {
      text-decoration: none;
    }

    .separator {
      padding: 0 8px 0 8px;
    }
  }

  .contentRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0;
  }

  .image {
    width: 45%;
    height: auto;
    display: flex;
    justify-content: center;
    transform: translateY(20px);
    animation: fadeIn 1s ease-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 32px;
  }

  .blogPost {
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(20px);
    animation: fadeIn 2s ease-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .blogPostDate {
    color: base.$gray;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  .headline {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 15px 0;
    color: base.$gray;
    letter-spacing: 0.2px;
    line-height: 30px;
  }

  .moreAbout {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: base.$gray;
    text-align: justify;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    line-height: none;
  }
}

@media (max-width: 728px) {
  .mainContainer {
    padding: 20px 10px;
    margin: 60px 0 0 0;
  }
  .breadcrumb {
    padding: 0 10px;
    margin-top: 20px;
  }
  .image {
    width: 100%;
    transform: translateY(10px);
  }

  .blogPost {
    width: 90%;
    padding-left: 10px;
    transform: translateY(10px);
  }

  .headline {
    font-size: 18px;
    line-height: 14px;
  }

  .moreAbout {
    font-size: 14px;
    line-height: 1.6;
  }
}

@media (max-width: 420px) {
  .mainContainer {
    padding: 15px;
    margin: 40px 0 0 0;
  }
  .breadcrumb {
    padding: 0 10px;
    margin-top: 50px;
  }
  .image {
    width: 100%;
    transform: translateY(0);
  }

  .blogPost {
    width: 100%;
    padding-left: 0;
    transform: translateY(0);
  }

  .headline {
    font-size: 12px;
    line-height: 14px;
  }

  .moreAbout {
    font-size: 10px;
    line-height: 1.5;
  }
}
